<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnWarning="true"
>
    <testsuites>
        <testsuite name="PHP Checks">
            <file>tests/Checks/PhpVersionCheckTest.php</file>
            <file>tests/Checks/DisplayErrorsCheckTest.php</file>
            <file>tests/Checks/ComposerAuditCheckTest.php</file>
            <file>tests/Checks/DangerousFunctionsCheckTest.php</file>
        </testsuite>
        <testsuite name="Laravel Checks">
            <directory>tests/Checks/Laravel</directory>
        </testsuite>
        <testsuite name="Programmatic Usage">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
